<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/login.css" />
    <script defer src="./script.js"></script>
    <title>PYTHONFLIX</title>
  </head>
  <body>
    <main class="login">
      <div class="login__container">
        <div id="image__responsive">
          <img src="../static/img/logo_python.jpg" id="logo" alt="" />        </div>
        <h1 class="login__title">Python<span class="login__title2">FLIX</span></h1>
        
        <form class="login__form">
          <input class="login__input" type="email" placeholder="e-mail" />
          <span class="login__input-border"></span>
          <input class="login__input" type="password" placeholder="senha" />
          <span class="login__input-border"></span>
          <button class="login__submit">Login</button>
          <a class="login__reset" href="#">Esqueceu a senha?</a>
        </form>
      </div>
    </main>
  </body>
</html>
© 2021 kemii_creations, Inc. Terms
