{% extends 'index.html' %}
{% block conteudo %}

<div class="row">
        {%for serie in series %}
        <div class="col">
            <div class="card">
                    <img src="https://image.tmdb.org/t/p/w500{{serie.poster_path}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{serie.original_name}}</h5>
                    <h6>Rate <span class="note">{{serie.vote_average}}</span></h6>

                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock conteudo %}